<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:substituteby="layout :: header">
<meta charset="UTF-8" />
<title>Yarquen Crawler</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="icon" type="image/png"
	th:href="@{/static/images/favicon.png}"
	href="../../../images/favicon.png" />
<link href="../../../bootstrap/css/bootstrap.css" rel="stylesheet" />
<link href="../../../css/yarquen.css" rel="stylesheet" />
<link href="../../../bootstrap/css/bootstrap-responsive.css"
	rel="stylesheet" />
<link href="../../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../bootstrap/css/slider.css" rel="stylesheet" />

<script src="../../../js/jquery.js"></script>
<script src="../../../js/jquery.validate.js"></script>


<!-- Include Bootstrap Asserts JavaScript Files. -->
<script type="text/javascript" src="jquery.validate.js"></script>
</head>

<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner" th:substituteby="layout :: navbar">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a class="brand" th:href="@{/}" href="../home.html">Yarquen</a>
				<div class="nav-collapse collapse">
					<p class="navbar-text pull-right"
						th:substituteby="layout :: logout">
						Logged in as <a href="#" class="navbar-link">admin</a>
					</p>
					<ul class="nav">
						<li><a th:href="@{/}" href="home.html">Home</a></li>
						<li sec:authorize="hasRole('PERM_READ_USER')" class="active"><a
							th:href="@{/account/}" href="account/list.html">Accounts</a></li>
						<li sec:authorize="hasRole('PERM_WRITE_CATEGORY')"><a
							th:href="@{/category/setupCategory}" href="category/edit.html">Category</a></li>
						<li><a th:href="@{/pathfinder/setup}"
							href="path/shohPaths.html">Path Finder</a></li>
						<li><a th:href="@{/articles}" href="articles.html">Search
								Articles</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<ul th:substituteby="layout :: login"></ul>
				</div>
			</div>
		</div>
		<ul class="breadcrumb">
			<li><a th:href="@{/}" href="../home.html">Home</a> <span
				class="divider">/</span></li>
			<li class="active">Show User</li>
		</ul>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div id="content" class="span10&gt;">
				<div>
					<div class="row">
						<div id="details" class="span7">
							<div>
								<!-- <p>
									<img src="pics/Kathleen_Byrne.jpg" width="160" height="160">
								</p> -->
								<h2>
									<span th:text="${account.firstName}+' '+${account.familyName}">Kathleen
										Byrne</span> <small><a href="/account/edit.html"
										th:href="@{/account/edit/}+${account.id}">edit</a></small>
								</h2>
								<h3 th:text="${account.username}">kathleen</h3>
								
								<br />
								<div class="row">
									<div class="span6">
										<table class="table table-striped">
											<tbody>
												<tr>
													<td><h6>Email:</h6></td>
													<td><i class="icon-envelope"></i> <a
														th:href="'mailto: '+${account.email}"
														href="mailto:kbyrne@fakemail.com"
														th:text="${account.email}">kbyrne@fakemail.com</a></td>
												</tr>
											</tbody>
										</table>

										<!-- <div class="alert alert-warning">
											<h4 class="alert-heading">Warning</h4>
											The phone numbers, email addresses, and Twitter handlers are
											fake.
										</div> -->
									</div>
								</div>
							</div>
							<fieldset>
								<legend th:text="'User History Enrichments'"></legend>
								<div class="span5">
									<table class="table" th:if="${articleRecords != null}">
										<thead>
											<tr>
												<th style="text-align: right;">Article</th>
												<th>Change Date</th>
											</tr>
										</thead>
										<tbody id="historyRecordsByUser">
											<tr th:each="aR : ${articleRecords}">
												<td style="text-align: right;" th:text="${aR.value.title}">Pedro
													Fernandez</td>
												<td><a
													th:href="@{'/articles/record/'}+${aR.key.articleId}+'/'+${aR.key.versionDate.getTime()+'/'+false}"
													th:text="${#dates.format(aR.key.versionDate, 'dd/MMM/yyyy HH:mm')}"></a></td>
											</tr>
										</tbody>
									</table>

									<div th:if="${articleRecords == null}">

										<p>No article enrichments were found for this user.</p>

									</div>
								</div>
							</fieldset>
							
						</div>

						<div class="span4">
							<div id="reports" class="well">
								<h4 class="modal-header">
									Skill Details <small><a href="editSkills.html"
										th:href="@{/account/setupSkills/}+${account.id}">edit</a></small>
								</h4>
								<ul id="currentCategories">
									<li id="Informatica/LenguajesDeProgramación"
										th:each="skill: *{account.skills}"
										th:id="${skill.categoryBranch.code}"><span
										th:text="${skill.categoryBranch.name}">Informática/Lenguajes
											de Programación</span> <span th:text="' ('+${skill.levelName}+')'">
											(Basic)</span></li>
								</ul>
								<div class="alert alert-info no-reports" style="display: block;"
									th:if="${account.skills.empty}">
									<h4 class="alert-heading">Info</h4>
									<span th:text="${account.username}">Kathleen
										Byrne</span> has no skill details
								</div>
								<ul class="nav nav-list"></ul>
							</div>
							<div id="symbology" class="well">
								<h5>
									Trust symbology: <small>
									<font color="#1FB924">&#9632; &#8594; Inferred</font>
									<font color="#000000">&#9632; &#8594; Direct</font></small>

								</h5>
							</div>
							<div id="trustees" class="well">
								<h4 class="modal-header">
									Web of Trust
								</h4>
									<table class="table"
										th:if="${trusteesInferred != null || trusteesDirect!= null}">
										<thead>
											<tr>
												<th style="text-align: center;" >User</th>
												<th style="text-align: center;" th:if="${trust == null}">Trust rate</th>
											</tr>
										</thead>
										
										
										<tbody id="userTrustees">
											<tr th:each="trInf : ${trusteesInferred}">
												<td style="text-align: center;"><a
													th:text="${trInf.key.firstName+' '+trInf.key.familyName}"
													th:href="${trInf.key.id} == ${currentAccount} ? @{/account/current.html} : @{'/account/show/'}+${trInf.key.id}"
													style="color: #1FB924;">Pedro
														Fernandez</a></td>
												<td th:if="${trust == null}" th:text="${trInf.value}" style="text-align: center; color: #1FB924;"></td>
											</tr>
											<tr th:each="trDir : ${trusteesDirect}">
												<td style="text-align: center;"><a
													th:text="${trDir.key.firstName+' '+trDir.key.familyName}"
													th:href="${trDir.key.id} == ${currentAccount} ? @{/account/current.html} : @{'/account/show/'}+${trDir.key.id}">Pedro
														Fernandez</a></td>
												<td th:if="${trust == null}" th:text="${trDir.value}" style="text-align: center;"></td>
												<td><a th:if="${trust == null}"
													th:href="@{'/account/deleteTrust/'+${trDir.key.id}}"
													th:id="${'delete'}" href="current.html"
													rel="tooltip" title="Don't trust anymore this user"><span
														class="icon-remove-circle"></span></a> </td>
											</tr>
										</tbody>

									</table>

									<div
										th:if="${trusteesInferred == null and trusteesDirect == null}">

										<p>This user doesn't trust anyone.</p>

									</div>
							</div>

							<div id="trusters" class="well">
								<h4 class="modal-header"
									th:text="'People who trust this user'">
								</h4>
									<table class="table"
										th:if="${trustersInferred != null || trustersDirect!= null}">
										<thead>
											<tr>
												<th style="text-align: center;">User</th>
											</tr>
										</thead>
										<tbody id="userTrusters">
											<tr th:each="trrInf : ${trustersInferred}">
												<td style="text-align: center; "><a
													th:text="${trrInf.key.firstName+' '+trrInf.key.familyName}"
													th:href="${trrInf.key.id} == ${currentAccount} ? @{/account/current.html} : @{'/account/show/'}+${trrInf.key.id}"
													style="color: #1FB924;">Pedro
														Fernandez</a></td>
											</tr>
											<tr th:each="trrDir : ${trustersDirect}">
												<td style="text-align: center; "><a
													th:text="${trrDir.key.firstName+' '+trrDir.key.familyName}"
													th:href="${trrDir.key.id} == ${currentAccount} ? @{/account/current.html} : @{'/account/show/'}+${trrDir.key.id}">Pedro
														Fernandez</a></td>
											</tr>
										</tbody>
									</table>

									<div
										th:if="${trustersInferred == null and trustersDirect == null}">

										<p>No one trusts this user</p>

									</div>
							</div>


							<div id="trust" class="well" th:if="${trust}">
									<h4 class="modal-header"
										th:text="'Trust this user'">
									</h4>
									<p id="trustText" 
										th:if="${knows != null}" th:text="'Your current trust value is: '+${trustValue}"></p>
									<p id="trustText" 
										th:if="${knows == null}" th:text="'You haven\'t trusted this user yet'"></p>

									<div class="slider slider-horizontal">
										<input type="text" class="slider" value="" id="sl1" style="" />
									</div>
							</div>
							
							<div id="trustTreshold" class="well" th:if="${account.id} == ${currentAccount}">
									<h4 class="modal-header"
										th:text="'Set your trust threshold'">
									</h4>
									<p id="trustTresholdText" 
										th:if="${hasTt != null}" th:text="'Your current trust threshold is: '+${account.trustTreshold}"></p>
									<p id="trustTresholdText" 
										th:if="${hasTt == null}" th:text="'You haven\'t set your trust threshold yet'"></p>

									<div class="slider slider-horizontal">
										<input type="text" class="slider" value="" id="sl2" style="" />
									</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<hr />
		<footer class="pull-right" th:substituteby="layout :: footer">
			<small class="muted">Yarquen, a focused, semantic,
				distributed crawler :)</small>
		</footer>
	</div>
</body>
<script type="text/javascript" th:inline="javascript">
$(document).ready(function() {
	 
	 $('#sl1').slider({
		 min: 1,
		 max: 10,
		 value: [[${trustValue}]],
         formater: function(value) {
           return 'Current value: '+value;
         }
       }
       ).on('slideStop', function(ev){    	   
    	   var user=[[${user}]];
    	   var trust=ev.value;
    	   
	   		$.ajax({
		        type: "GET",
		        url: /*[[@{'/account/addTrust'}]]*/ "http://localhost:8080/yarquen/account/addTrust",
		        data: {user: user, trust: trust},
		        complete: function(e, xhr, settings){
		            if(e.status === 200){
		            	console.log("trust rating added successfully"+e.responseText);
		            	$("#trustText").text('Your current value is: '+trust);
		            }else{
		            	alert(e.responseText);	
		            }
		        }
		        });
       });
	 
	 $('#sl2').slider({
		 min: 0,
		 max: 10,
		 value: [[${account.trustTreshold}]],
         formater: function(value) {
           return 'Current value: '+value;
         }
       }
       ).on('slideStop', function(ev){
    	   var trust=ev.value;
    	   
	   		$.ajax({
		        type: "GET",
		        url: /*[[@{'/account/addTrustTreshold'}]]*/ "http://localhost:8080/yarquen/account/addTrustTreshold",
		        data: {trust: trust},
		        complete: function(e, xhr, settings){
		            if(e.status === 200){
		            	console.log("trust treshold added successfully"+e.responseText);
		            	$("#trustTresholdText").text('Your current trust treshold is: '+trust);
		            }else{
		            	alert(e.responseText);	
		            }
		        }
		        });
       });


});


</script>
</html>



